APT::Periodic::Update-Package-Lists "1";
APT::Periodic::Download-Upgradeable-Packages "1";
APT::Periodic::AutocleanInterval "{{ unattended_upgrades_autoclean_interval }}";
APT::Periodic::Unattended-Upgrade "{{ unattended_upgrades_unattended_upgrade }}";